<div class="container">
<% if (room.length) { %>
  <h1 class="page-header">Rooms you created</h1>

<ul class="list-group">
  <% room.forEach(function (show) { %>
    <li class="list-group-item">
      <strong>Topic: </strong>
      <%= show.room %></br>
      <strong>Host Name: </strong>
      <%= show.host.name %>
    </li>
    <br>
    <div style="text-align: center;">
    <div style="float: left;">
    <form method="POST" action="list/<%= show._id %>?_method=DELETE">
      <button class="btn btn-default">Delete</button>
    </form>
    </div>
    <div style="float: left;">
    <form method="GET" action="/question/list/<%= show._id %>">
      <button class="btn btn-default">Enter</button>
    </form>
    </div>
    </div>
  </br>
  </br>
  </br>
  <% }) %>
</ul>
<% } %>

<% if (joinroom.length) { %>
  <h1 class="page-header">Rooms you joined</h1>
<ul class="list-group">
  <% joinroom.forEach(function (show, showindex) { %>
    <li class="list-group-item">
      <strong><%= show.host.name %>: </strong>
      <%= show.room %>
    </li>
  </br>
  <div style="text-align: center;">
    <div style="float: left;">
    <form method="POST" action="list/<%= show._id %>?_method=DELETE">
      <button class="btn btn-default">Delete</button>
    </form>
    </div>
    <div style="float: left;">
    <form method="GET" action="/question/list/<%= show._id %>">
      <button class="btn btn-default">Enter</button>
    </form>
    </div>
  </div>
  </br>
  </br>
  <% }) %>
</ul>
<% } %>

<% if (!room.length && !joinroom.length) { %>
  <h1 class="page-header">Nothing on your activity!</h1>
<% } %>
</div>
